div.container {
    height: 240px; 
    width: 160px; 
    border: solid 1px #000;
    margin-bottom: 20px;
    margin-left: 20px;
}

div.activeContainer {
    border: solid 3px #C33;
    margin-left: 0px;
}